# PostgreSQL Database (for Pockito app)
POSTGRES_DB=pockito
POSTGRES_USER=pockito
POSTGRES_PASSWORD=pockito

# Keycloak Admin
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin

# Keycloak Database
KEYCLOAK_DB=keycloak
KEYCLOAK_DB_USER=keycloak
KEYCLOAK_DB_PASSWORD=keycloak
